{% extends "default.html" %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">TYT-AYT Notlarım</h1>
        <p class="lead">TYT-AYT hakkında aldığım notlara buradan ulaşabilirsiniz.</p>

        <div class="row">
            <div class="col-sm-12">
                <a href="/ayt" class="btn btn-primary btn-md">AYT Sayısal Notlarım</a>
                <a href="/tyt" class="btn btn-danger btn-md">TYT Notlarım</a>
             </div>
        </div>
    </div>
</div>

{% endblock %}